/*
 * My Styles
 */

.dark-body{
	background: #161616;
}

.img-fit{
	width:100%;
	object-fit: cover;
}

.img-in-table{
	width: 100px;
}

.a-dark-mode{
	color: white;
	transition: opacity .55s ease-in-out;
}

.a-dark-mode:hover{
	color: red;
	transition: opacity 1s ease-in-out;
}